header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d89820;
  background-image: url("https://www.transparenttextures.com/patterns/ecailles.png");
}

.header-h2 {
  margin: 0;
}